.highlight, .header .header_heading, main.section .section_text, .section_banner .section_banner_heading {
  position: relative;
  z-index: 1; }
  .highlight:before, .header .header_heading:before, main.section .section_text:before, .section_banner .section_banner_heading:before {
    position: absolute;
    display: block;
    background-color: #ff4e33;
    height: 50px;
    z-index: -1;
    content: ''; }

body {
  padding: 0;
  margin: 0;
  background-color: #21232e;
  color: #ffffff;
  font-family: "Fresca", sans-serif; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none; }

.header {
  background: url("../img/m-h-night.jpg") no-repeat;
  width: 1920px;
  height: 720px;
  min-width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: 50%;
  border-radius: 0 0 770px / 290px 0;
  margin: 0 auto; }
  .header .header-wrap {
    width: 1540px;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto; }
    .header .header-wrap .login {
      color: #ffffff;
      font-size: 20px; }
    .header .header-wrap .header_button {
      display: inline-block;
      text-align: center;
      margin: 0;
      padding: 0;
      border: 0 none;
      color: white;
      white-space: nowrap;
      vertical-align: middle;
      outline: 0 none;
      appearance: none;
      text-decoration: none;
      transition: all linear 0.2s;
      cursor: pointer;
      background-color: #e3ac00;
      border-radius: 2px;
      line-height: 47px;
      width: 140px;
      font-weight: 700;
      font-size: 16px;
      margin-right: 153px; }
      .header .header-wrap .header_button:hover {
        background-color: #ffc717; }
  .header .header_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 72px;
    font-weight: 800;
    line-height: 72px;
    width: 500px;
    margin: 72px 0 35px; }
    .header .header_heading:before {
      width: 303px;
      top: 93px; }
  .header .header_text {
    font-family: "Fresca", sans-serif;
    line-height: 24px;
    font-size: 17px;
    white-space: pre-line;
    margin-bottom: 62px; }

.landing-logo {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  font-family: "Fresca", sans-serif; }
  .landing-logo img {
    margin-right: 15px; }
  .landing-logo span {
    display: block;
    font-size: 10px;
    font-weight: 300; }

main.section {
  width: 1200px;
  text-align: center;
  margin: 0 auto; }
  main.section .section_card_wrap {
    width: 1120px;
    margin: 0 auto; }
  main.section .section_text {
    text-align: center;
    margin: 42px 0;
    font-size: 42px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 42px;
    display: inline-block; }
    main.section .section_text:before {
      width: 190px;
      top: -10px;
      right: 12px; }
  main.section .section_card {
    background-color: #3b3f50;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    line-height: 25px; }
    main.section .section_card ~ .section_card {
      margin-top: 25px; }
    main.section .section_card:first-child .section_card_img {
      width: 430px;
      min-width: 430px; }
    main.section .section_card:nth-child(2) .section_card_img {
      width: 415px;
      min-width: 415px; }
    main.section .section_card:last-child .section_card_img {
      width: 460px;
      min-width: 460px; }
    main.section .section_card:last-child .section_card_heading {
      margin: 30px 0 60px 0; }
    main.section .section_card:last-child .section_card_text {
      margin-bottom: 30px; }
  main.section .section_card_right_container {
    margin: 0 90px; }
  main.section .section_card_heading {
    font-size: 25px;
    margin-bottom: 40px; }
  main.section .section_card_text {
    color: #d1d1d1;
    text-align: left;
    font-family: "Fresca", sans-serif;
    text-align: justify; }
  main.section .section_card_img {
    border-radius: 4px; }

.section_banner {
  margin-top: 140px;
  border-radius: 4px;
  background: linear-gradient(to right, #dfa604, #96314f);
  padding: 25px 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: -70px;
  position: relative; }
  .section_banner .section_banner_heading {
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif; }
    .section_banner .section_banner_heading:before {
      width: 65px;
      top: -10px;
      left: 120px; }
  .section_banner .section_banner_text {
    color: #c0c3b3;
    font-size: 17px; }
  .section_banner .section_banner_button {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0 none;
    color: white;
    white-space: nowrap;
    vertical-align: middle;
    outline: 0 none;
    appearance: none;
    text-decoration: none;
    transition: all linear 0.2s;
    cursor: pointer;
    background-color: #e3ac00;
    border-radius: 2px;
    line-height: 47px;
    width: 140px;
    font-weight: 700;
    font-size: 16px; }
    .section_banner .section_banner_button:hover {
      background-color: #ffc717; }

.footer {
  background-color: #3b3f50;
  padding: 100px 20px 50px 20px; }
  .footer .footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c0c3af;
    max-width: 1530px;
    margin: 0 auto; }
  .footer .footer_text {
    width: 330px; }
