$bodyBg: #ffffff;
$mainTextColor: #2c2f3c;
$headerBg: url('../img/m-h-day.jpg');

$headerFontHeading: 'Source Sans Pro', sans-serif;
$headerFontText: $headerFontHeading;
$logoFont: 'Hind', sans-serif;

$white: #fff;
$colorTextSections: #c0c3ce;
$colorTextFooter: #c0c3af;

$headerTextColor: #2c2f3c;
$headerBtnBg: #699900;

$colorAwesome: #14a0c7;

$cardBg: #21232e;

$sectionBannerGradient: linear-gradient(to right, #639314, #2f5ed1);

$sectionCardImg: (
	'width1' : 430px,
	'width2' : 415px,
	'width3' : 460px,
);