$bodyBg: #21232e;
$mainTextColor: #ffffff;
$headerBg: url('../img/m-h-night.jpg');

$headerFontHeading: 'Source Sans Pro', sans-serif;
$headerFontText: 'Fresca', sans-serif;
$logoFont: $headerFontText;

$colorTextSections: #d1d1d1;
$colorTextFooter: #c0c3af;

$headerTextColor: #ffffff;
$headerBtnBg: #e3ac00;

$colorAwesome: #ff4e33;

$cardBg: #3b3f50;

$sectionBannerGradient: linear-gradient(to right, #dfa604, #96314f);